// Colours
$color1: rgba(85, 221, 224, 1);
$color2: rgba(51, 101, 138, 1);
$color3: rgba(47, 72, 88, 1);
$color4: rgba(246, 174, 45, 1);
$color5: rgba(242, 100, 25, 1);

$family-sans-serif: 'Anek Malayalam', sans-serif;
$family-primary: $family-sans-serif;
$body-font-size: 1.15rem;
$navbar-background-color: darken($color3, 5%);
$weight-bold: 500;
$title-weight: $weight-bold;
$control-height: 46px;
$radius: 0;