#app {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

body,
html {
  height: 100%;
}

#site-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;

  &-right {
    padding: 2rem;
  }

  > .columns {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-title {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.sidebar {
  background: $color3;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;

  .card {
    background: transparent;
    box-shadow: none;
    color: white;
    max-width: 450px;

    .media-right {
      margin-left: 0;
    }

    a {
      color: inherit;
      font-weight: 600;
    }

    .title, .subtitle {
      color: inherit;
    }

    dl {
      display: flex;
      flex-flow: row wrap;
      font-size: 1rem;

      dt {
        padding-right: 0.75rem;
        flex-basis: 10%;
      }

      dd {
        flex-basis: 90%;
      }
    }
  }
}

.sidebar-navigation {
  margin-top: 1rem;
  flex: 1 0 50%;

  .main-navigation > .navigation-item {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center;

    &:hover, &:focus {
      background-color: darken($color3, 2%);
      color: darken(#ffffff, 10%);
      transition: all .3s ease-in;
    }

    &:not(:last-child) {
      border-bottom: 1px solid lighten($color3, 10%);
    }
  }
}

.card-personal {
  flex-flow: column nowrap;
  padding: .5rem 1.5rem;
  text-align: center;

  .card-content {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .card-image {
    display: inline-block;
  }
}

.social-links-list {
  padding: .5rem;
  text-align: center;

  > li {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: .75rem;
    }

    > a {
      color: white;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.field.has-error {
  label {
    color: $danger;
  }

  .input {
    border-color: $danger;
  }
}